body {
        padding: 0px;
        margin: 0px;
        padding-left: 75px;
        padding-right: 10px;
        padding-bottom: 200px;
        min-width:700px;

        color: #000;
        background-color: #ddd;
        font-family: "Courier New", Courier, Monospace;
}
div {
        padding: 0px; margin: 0px;
}
#bodyholder {
        max-width: 850px;
        margin-left: -50px;
        margin-right: 15px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15px;

        border: 2px solid #000;
        border-radius: 10px;

        background-color: #fff;
}

#titlebar {
        margin-left: -75px;
        margin-right: -10px;
        margin-bottom: 15px;
        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;

        border: 0px solid #000;
        border-width: 0 0 2px 0;

        font-family: "Courier New", Courier, Monospace;
        font-size: xx-large;
        background-color: #fff;
}
#topright {
        position: absolute;
        top: 7px;
        right: 0;
        
        padding-right: 10px;
        margin-top:15px;

        text-align: right;
        font-size:x-large;
}
a {
        color: #00d;
        text-decoration: underline;
}
#titlelink {
        padding: 0;
        text-decoration: none;
        font-weight: normal;
}
a.posttitle {
        text-decoration: none;
}
a.postlink {
        font-weight: bold;
}
a.navbar {
        padding: 0;
        margin:0;
        font-weight: bold;
}
a.toplink {
        padding: 3px 3px 0px 3px;
        font-weight: normal;
        margin:0;
        border: 0px solid #aaf;
        border-radius: 5px;
        background-color: #fff;
        text-decoration: none;
        padding-top: 2px;
}
a.toplink:hover {
        background-color: #eef;
        border-color:#99f;
        color: #00f;
}
h1, h2, h3 {
        padding-top: 5px;
        padding-bottom: 2px;
        padding-left: 35px;

        margin-left: -50px;
        margin-right: -50px;

        border: 0px solid #000;
        border-width: 2px 0;

        font-family: "Courier New", Courier, Monospace;
        color: #a00;
        color: #000;
        background-color: #aaf;
}
h1 {
        font-size: x-large;
}
hr {
        margin-left: -50px;
        margin-right: -50px;
        border: 1px solid #004;
}
p {
        max-width: 900px;

        font-family: "Courier", Monospace;
}

pre {
        padding: 5px;
        max-width: 900px;

        font-family: "Courier New", Courier, Monospace;
        font-size: large;

        border: 0px solid #0a0;
        border-width: 3px 0;
        color: #000;
        background-color: #F0FfF0;
}

p.date {
        text-decoration: underline;
}
p.mytags {
        margin-top:-10px;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: small;
}
li {
        margin-bottom: 2px;
}
hr.navbar {
        margin-bottom:20px;
        margin-top: 40px;
}
div.navbar {
        margin-top:10px;
        margin-bottom:15px;

        text-align:center;
}
span.inv {
        font-weight: bold;
}
.archnav {
        display:inline-block;
        text-align: center;
}
#navbar .archnav {
        min-width: 250px;
        display:inline-block;
        text-align: center;
}
div.topnav {
        font-size: small;
}
#postheader {
        margin-left:20px;
}
