body {
        padding: 0px;
        margin: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 200px;

        color: #000;
        background-color: #eee;
        font-family: "Courier New", Courier, Monospace;
}
div {
        padding: 0px; margin: 0px;
}
#bodyholder {
        max-width: 850px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 15px;

        border: 1px solid #888;
        border-radius: 10px;

        background-color: #fff;
        transition: margin-left 1s;
}
@media only screen and (min-width:1100px) {
        #bodyholder {
                margin-left: 50px;
        }
}

#titlebar {
        margin-bottom: 15px;
        margin-top: 10px;

        padding-left: 30px;
        padding-top: 15px;
        padding-bottom: 10px;

        border: 1px solid #888;
        border-radius: 10px;

        font-family: "Courier New", Courier, Monospace;
        font-size: xx-large;
        background-color: #fff;
}
#topright {
        text-align: right;
        font-size:x-large;
        margin-bottom: 10px;
}

a {
        color: #00d;
        text-decoration: underline;
}
#titlelink {
        padding: 0;
        text-decoration: none;
        font-weight: normal;
}
a.posttitle {
        color: #000;
        text-decoration: none;
}
a.postlink {
}
a.navbar {
        padding: 0;
        margin:0;
        font-weight: bold;
}
a.toplink {
        padding: 3px 3px 0px 3px;
        font-weight: normal;
        margin:0;
        border: 1px solid #888;
        border-radius: 5px;
        background-color: #fff;
        text-decoration: none;
        padding-top: 2px;
}

@media only screen and (min-width:850px) {
        #topright {
                position: absolute;
                top: 15px;
                right: 15px;
                
                padding-right: 10px;
                margin-top:15px;
                border-width: 0px;
        }
        a.toplink {
                border: 0px solid #aaf;
        }
}
a.toplink:hover {
        background-color: #eef;
        border-color:#99f;
        color: #00f;
}

h1, h2, h3 {
        padding-top: 5px;
        padding-bottom: 2px;
        padding-left: 35px;

        margin-left: -50px;
        margin-right: -50px;

        border: 0px solid #888;
        border-width: 1px 0;

        font-family: "Courier New", Courier, Monospace;
        color: #000;
        background-color: #bbf;
}
h1 {
        font-size: x-large;
}
hr {
        margin-left: -50px;
        margin-right: -50px;
        border: 1px solid #888;
}
p {
        max-width: 900px;

        font-family: "Courier", Monospace;
}

pre {
        padding: 5px;
        max-width: 900px;

        font-family: "Courier New", Courier, Monospace;
        font-size: large;

        border: 0px solid #0a0;
        border-width: 3px 0;
        color: #000;
        background-color: #F0FfF0;
}
code {
        font-family: "Courier New", Courier, Monospace;
        font-weight: bold;
        color: #080;
}

p.date {
        text-decoration: underline;
}
p.mytags {
        margin-top:-10px;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: small;
}
li {
        margin-bottom: 2px;
}
hr.navbar {
        margin-bottom:20px;
        margin-top: 40px;
}
div.navbar {
        margin-top:10px;
        margin-bottom:15px;

        text-align:center;
}
span.inv {
        font-weight: bold;
}
.archnav {
        display:inline-block;
        text-align: center;
}
#navbar .archnav {
        min-width: 250px;
        display:inline-block;
        text-align: center;
}
div.topnav {
        font-size: small;
}
#postheader {
        margin-left:20px;
}
#navbar {
        border: 0 solid #888;
        background-color: #eee;
        border-radius: 15px;
}
#morenav, #morenav2{
        display: none;
}
@media only screen and (min-width:750px) {
        #navbar {
                max-height: 40px;
                overflow: hidden;
                transition: max-height 2s;
        }
        #navbar:hover {
                max-height: 500px;
        }
        #morenav, #morenav2{
                margin: 0 10px;
                font-size: x-large;
                text-align: center;
                position: relative;
                float:left;
                display: inline-block;
                top: -39px;
                background-color: #ddd;
                border-radius: 15px;
                width:30px;
                height:30px;
        }
        #morenav2 {
                float:right;
        }
}
